body {
    font-family: 'Schoolbell', cursive;
    font-size: 1rem;
    overflow-x: hidden;
    text-decoration: none;
    /* max-width: 2000px; */
}

.bb-hr {
    width: 60%;
    margin: 20px 0;
    border-color: #519bea;
}

.container {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/*NAVBAR*/

/* .navalert-container {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 999;
    background-color: #519bea;
} */

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 999;
    background-color: #519bea;
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

#nav-container {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    letter-spacing: 4px;
    padding-left: 10px;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    /* display: flex; */
    transition: 0.5s;
}

/*INDEX PAGE*/



/*HERO IMAGE*/

.hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#index-hero-image{
    height: 500px;
    width: 100%;
    background: url("../images/hero1.jpg") no-repeat right center fixed;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}



@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}


.hero-text, .hero-text h3 {
    color: #ffffff;
}

.hero-text {

    font-family: 'Open Sans', sans-serif;
    width: 50%;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.7);
    top: 100px;
    /* left: 0px; */
    position: absolute;
    /* position: fixed; */
    z-index: 1;

}

.hero-text h3 {
    font-family: 'Schoolbell', cursive;
}

/*buttons*/

.btn-outline-secondary {
    vertical-align: top;
    margin-top: 5px;
    background-color: #047bfa;
    color: white;
    border-color: white;
    
}

.btn-outline-secondary:hover {
    background-color:#519bea;
    color: white;
}

/* info-section */

#info-section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    background-color: #90bff1;
    position: relative;
    z-index: 2;
}

#info-section p {
    font-family: 'Open Sans', sans-serif;
}



/*RESOURCES*/

.resource-outer {
    /* height: 500px; */
    width: 100%;
    overflow: hidden;
    position: relative;
    
    z-index: 2;
}

.parallax-container {
    height: 550px;
    width: 100%;
    background: url("../images/parallax2.jpg") no-repeat left fixed;
    padding: 0;

}

#resource-overlay {

    font-family: 'Open Sans', sans-serif;

    height: 504px;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    position: relative;
}

#resource-overlay h3 {
    font-family: 'Schoolbell', cursive;
}




.resource-desc {

    background: url("../images/e.jpg") top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
    position: absolute;
}

.resource-container {

    padding-top: 20px;
}



.resource-item {
    height: 168px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
}

.resource-item p {
    font-family: 'Open Sans', sans-serif;

}

.resource-item i, a {
    color: #519bea;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    text-decoration: none;
}

.resource-item i:hover, a:hover {
    text-decoration: none;
    color: #047bfa;
}


.footer-spacer {
    margin-bottom: 50px;
}

/* FOOTER */

footer {
    background-color: #519bea;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    height: 50px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

#footer {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

#footer-register{
    text-align: center;
}

#footer-copyright{
    float: left;
    font-size: 1rem;
    padding-left: 10px;
    padding-top: 12px;
}

.social-links i {
    float: right;
    margin-right: 10px;
    margin-top: 10px;

    font-size: 2rem;

    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links i:hover {
    color: grey;
}



/* VISA PAGE */

.visa-page-image {

    background: url("../images/e.jpg") top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;

}

.visa-item {
    height: 168px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.visa-item p {
    font-family: 'Open Sans', sans-serif;

}

/* LANGUAGE PAGE */

.navspacer {
    padding-top: 66px;
}

.language-page-image {

    background: url("../images/hero1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;

}


.desc-overlay {

    font-family: 'Open Sans', sans-serif;
    width: 100%;
    /* height: 580px; */
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    position: absolute;
}

.desc-overlay h2 {
    font-family: 'Schoolbell', cursive;
    letter-spacing: 4px;
}

.language-item {
    height: 124px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

.language-item p {
    font-family: 'Open Sans', sans-serif;

}



hr {
    width: 90%;
    margin: 2px 0;

}


/* GALLERY PAGE */

#gallery-hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#gallery-hero-image{
    height: 500px;
    width: 100%;
    background: url("../images/parallax.jpg") no-repeat top fixed;
    /* position: relative; */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


#images {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    position: relative;
    z-index: 2;

}

#images img {
    width: 100%;
}


/* credit to: fullyworldwebtutorials */
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.gallery-row .gallery-column {
    flex: 33.33%;
    width: auto;
    overflow: hidden;
    padding: 0 1px;
    height: 100%;

}

.gallery-row .gallery-column img {
    margin-top: 1px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: grayscale(1) brightness(0.75);
    transition: 0.3s linear;
}

.gallery-row .gallery-column img:hover {
    filter: grayscale(0) brightness(1);
}



/* ABOUT PAGE */

#about-hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#about-hero-image{
    height: 600px;
    width: 100%;
    background: url("../images/a.jpg") no-repeat left;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}



.about-container {
    height: 550px;
    width: 100%;
    background: url("../images/b.jpg") no-repeat right center fixed;

}

.about-container p {
    font-family: 'Open Sans', sans-serif;
}

.about-outer {
    height: 550px;
    width: 100%;
    overflow: hidden;

}


/* REGISTER MODAL */

.modal {
    font-family: 'Open Sans', sans-serif;

}


.modal-header {
    font-family: 'Schoolbell', cursive;
    text-align: center;
}

.modal .btn-secondary {
    vertical-align: top;
    margin-top: 5px;
    background-color: #047bfa;
    color: white;
    border-color: white;
    /* font-family: 'Schoolbell', cursive; */
    font-size: 1rem;
}

.modal .btn-secondary:hover {
    background-color: #519bea;
    color: white;
}


/* MEDIA QUERIES */


@media screen and (min-width: 2000px) {
    #index-hero-image {
    background: url(../images/hero1.jpg) left;
    background-size: cover;
    }
}




@media screen and (max-width: 1360px) {
    .hero-outer {
        height: 460px;
    }

    #index-hero-image {
       background: url("../images/hero1.jpg") no-repeat top right fixed;
       height: 460px;
    }

    .hero-text {

        font-family: 'Open Sans', sans-serif;
        width: 100%;
        /* height: 340px; */
        /* margin: 0 auto; */
        top: 80px;
        text-align: center;

    }

    #info-section {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        text-align: left;

    }

    #resource-overlay {

        height: 504px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;

    }

    #images{
        column-count: 3;
    }

    .footer-spacer {
        margin-bottom: 0px;
    }
}


@media screen and (max-width: 700px){
    .hero-outer {
        height: 650px;
    }

    #index-hero-image {
       background: url("../images/hero1.jpg") no-repeat top right fixed;
       height: 650px;
    }

    .hero-text {

        font-family: 'Open Sans', sans-serif;
        width: 100%;
        top: 80px;
        text-align: center;
        height: 650px;

    }

    #info-section {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        text-align: left;
        
    }

    #resource-overlay {
        height: 590px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .resource-item {
    height: 168px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    }


    
    #images{
        column-count: 2
    }

    .parallax-container{
        height: 1100px;
    }

    .footer-spacer{
        margin-bottom: 40px;
    }
}



